@font-face {
	font-family: 'Montserrat';
	src: url('../src/assets/fonts/Montserrat-VariableFont_wght.ttf');
}

*{
	margin:0;
	padding:0; 
	font-family: 'Montserrat', sans-serif; 
}



@font-face {
    font-family: 'Montserrat';
    src: url('../src/assets/fonts/Montserrat-VariableFont_wght.ttf');
}

html{
	scroll-behavior: smooth;
  }

body{  
    display: flex;
    flex-direction: column;
	min-height: 100vh;
} 

#root{
    display: flex;
    flex-direction: column;
	min-height: 100vh;
}

.App{
	display: flex;
    flex-direction: column;
	min-height: 100vh;
}

.container-body{
	display: flex;
	flex-direction: column;
	flex-grow: 1; 
	height: auto;
}

.home-container{
	display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
	align-items: center;
} 

.carousel-container{ 
	padding: 10px;
}

.indicator-carousel:hover{
	background-color: #797474;
	color: black;
	font-size: 22px;
}

.carousel-fade .carousel-item{
	transition-property: none;
}

.carousel-control-prev:hover{
	background-color: #c0bcbc;
	color: black;
}
.carousel-control-next:hover{
	background-color: #c0bcbc;
	color: black;
}
 
/* FooterSection */

.footer-politicas{
	display: block;
	color: white; 
    display: inline-flex;
	height: 25px;
} 

.footer-politicas-anchor{ 
	margin-left: 20px;
	margin-right: 10px; 
}

.footer-politicas-anchor:visited{  
	text-decoration: inherit;
    color: white;
    cursor: auto;
}
.footer-politicas-anchor:link{  
	text-decoration: inherit;
    color: white;
    cursor: pointer;
}
.footer-politicas-anchor:hover{  
	text-decoration: inherit;
    color: #e6432d;
    cursor: pointer;
}

.politicas-text{
	font-size: 0.8rem;
}
 
.disabledAnchor:visited{
	text-decoration: inherit;
    color: white;
    cursor: auto;
}

.disabledAnchor:link{
	text-decoration: inherit;
    color: white;
    cursor:pointer ;
}

.disabledAnchorDark{
	font-size: 20px;  
}

.disabledAnchorDark:visited{
	text-decoration: inherit;
    color: #000000;
    cursor: auto;
}

.iconsModal{ 
	height: 40px;
	margin-right: 10px;
} 

.iconsModal:hover{ 
	height: 45px;
} 
 
.divModalBody{
	display: flex;
	align-items: center;
}

.footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: #a00e0e;  */
	text-align: center;  
	bottom: 0;
	width: 100%; 
	min-height: 50px;
	position: relative;
}

.footer-row{
	display: flex;
	/* background-color: #a00e0e;  */
	text-align: center;  
	bottom: 0;
	width: 100%; 
	min-height: 50px;
	position: relative;
}

.footer-row-2{
	display: flex; 
	text-align: center;  
	bottom: 0; 
	position: relative;
}

.container-footer-2{
	display: flex; 
    align-items: start;
	margin-right: 20px; 
    width: 16%;
}

@media(max-width: 990px){
	.footer-col-2{ 
	  display: none;
  	}
	.footer-row{
		justify-content: center;
	}
	.container-footer-3{
		width: 100%;
		margin: 0;
		align-items: center;
	}
	.container-footer-2{  
		padding-left: 0;
		padding-top: 0; 
		margin-top: 10px;
		margin-right: 0; 
		justify-content: center;
	}
	.title-footer-3{
		margin-right: 0;
	}
	.footer-row-2{
		display: none;
	}
	.img-modal-home{
		width: 100%;
	}
	.modal-content{
		margin-top: 100px
	}
}

@media only screen and (min-width:990px) and (max-width:1100px){
	.offset-lg-7 {
		margin-left: 33.333333%;
	}
	.container-footer-2{
		padding-left: 40px;
	}
	.footer-col-2{
		width: 50%;
	}
	.container-footer-3{
		width: 25%;
	}
}

@media(min-width: 1550px){
	.footer-col-2{ 
		width: 55%;  
	}
}

@media(min-width: 1400px){ 
	.container-footer-2{  
		padding-left: 90px; 
	}
	.offset-lg-7 {
		margin-left: 50.333333%;
	}
}

@media only screen and (min-width:1400px) and (max-width:1550px){ 
	.footer-col-2{
		width: 55%;
	} 
}

@media only screen and (min-width:1100px) and (max-width:1400px){
	.offset-lg-7 {
		margin-left: 42.333333%;
	}
	.footer-col-2{
		width: 50%;
	}
	.container-footer-3{
		width: 25%;
	}
}

@media(min-width: 990px){
	.container-footer-3{
		align-items: start;
		margin-left: 20px; 
	}
	.title-footer-3{ 
		margin-right: 40px;
	}
	.container-footer-2{   
		padding-top: 20px; 
		margin-top: 30px;
	}
	.img-modal-home{
		width: 900px;
	}
}

.container-footer-3{
	display: flex;
    flex-direction: column; 
}

.title-footer-3{
	font-size: 1.2rem; 
}

.text-logo{
	font-size: 1rem;
}

.h5-Default{
	font-size: 1.1rem;
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 1;
	color: white;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col-2{
	padding-top: 10px; 
	align-self: center;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize; 
	margin-top: 14px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	/* left:140px; */
	bottom: -5px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 60px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
} 
  
.logo-image-footer{ 
    height: 70px; 
    overflow: hidden;    
	margin-top: 10px; 
	cursor: pointer;
}

.modal-footer{
	border-top: none;
}

@media(max-width: 990px){
	.logo-image-footer{ 
	  display: none;
  }
}

@media(min-width: 990px){
	.footer-col{ 
	  width: 20%;
  } 
}

.button-inicio:hover{
	color: #e6432d;
	padding: 0.4rem 0.8rem;
}

@media(min-width: 990px){
	.navbar-dark .navbar-nav .nav-item{ 
		width: 150px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.navbar-dark .navbar-nav .nav-item .nav-link:hover{ 
		border-radius: 15%; 
		color: #e6432d;
		font-size: 22px;  
		display: block;  
	}

}  
/* NAVBAR */
 
:root{  
	--navbar-grad-1: rgb(0, 0, 0);
	--navbar-grad-2: rgb(39, 38, 38); 
	--body-grad-1: rgb(255, 255, 255);
	--body-grad-2: rgb(255, 255, 255); 
	--body-grad-3: rgb(255, 255, 255);;
	--footer-grad-1: rgb(39, 38, 38);
	--footer-grad-2: rgb(0, 0, 0);
	--footer-grad-3: rgb(39, 38, 38);
}

.navbar-modified{
	background: linear-gradient(var(--navbar-grad-1), var(--navbar-grad-2));  
	    position: fixed;
    width: 100%;
    z-index: 12;
} 
.container-body{ 
	background-color: rgb(39, 38, 38); 
}
.footer{
	background: linear-gradient(var(--footer-grad-1), var(--footer-grad-2));  
	border-color: white;
}

.carousel-container{
	width: 100%; 
	display: flex; 
	padding-left: 50px; 
	background: linear-gradient(rgb(255,208,90) 0%, var(--navbar-grad-2) 30%); 
}

.carousel-container-right{
	width: 90%;
	margin-left: 100px;
	display: flex;
	flex-direction: row-reverse; 
}

.container-right{
	background-color: rgb(39, 38, 38);
}

.carousel-container-text{
	width: 70%;
	margin-top: 30px;
	align-self: center;
} 

.container-textos-inicio{
	margin-bottom: 40px;
}

.containerMenuPedidoHome{
	display: flex;
    justify-content: space-around;
}

.texto-titulo-inicio{
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 0;
	color: white;
}

.texto-sin-margen{
	margin: 0;
	padding: 0; 
	color: white;
}

.titleReseñas{
	font-size: 2.0rem;
	color: white;
	color: white;

}

.container-comentario{
	margin: 20px;
}

.texto-inicio-nombre{
	font-size: 20px;
	color: white;
}

.texto-inicio-fecha{
	font-size: 15px;
	color: white;
}

.texto-inicio-comentario{
	margin-top: 15px;
	color: white;
}

.container-title-inicio-galeria{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center; 
	justify-content: center;
	align-self: center;
	color: white;
}

.container-after{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

@media(max-width: 980px){
	.container-title-inicio-galeria{
		display: block;
	}
	.title-inicio-galeria { 
		font-size: 1.5rem;
	}
}

@media(min-width: 980px){
	.container-title-inicio-galeria{
		display: block;
	}
	.title-inicio-galeria { 
		font-size: 2rem;
	}
}
 
.container-after::after {
	content: '';
	flex: 1 2 auto; /* the first digint is 'flex-grow: 1', helps elemet to occupy all free space */ 
	border-bottom: solid 1px black;
	margin-left: 20px;
	margin-right: 20px;
}
 
 
.title-inicio-galeria {
	flex: 0 1 auto; /* the first digint is flex-grow: 0 */ 
	padding: 0 15px 0 15px;   
}

.title-inicio-sucursales {  
	color: white;
	text-align: center;
}

.container-title-inicio-primero{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.container-title-inicio-primero::after, .container-title-inicio-primero::before {
	content: '';
	flex: 1 2 auto; /* the first digint is 'flex-grow: 1', helps elemet to occupy all free space */ 
	border-bottom: solid 1px black;
	margin: 10px;
}

.videoContainer{
	height: 700px; 
}

@media(max-width: 990px){
	.carousel-container{
		flex-direction: column;	
		margin-left: 0px;
		align-items: center;
		width: 100%;
	}
	.carousel-container-text{
		margin-top: 0;
		width: 100%;
	}
	.videoContainer{
		width: 300px;
		margin-bottom: 30px;
	}
	.carousel-container-right{
		flex-direction: column;	
		margin-left: 0px;
		width: 100%;
		align-items: center;
	} 
	#carouselImg{
		width: 300px;
		margin-top: 40px; 
		object-fit:cover;
	}
}
 

/* .navbar-modified{
	background: linear-gradient(var(--navbar-grad-1), var(--navbar-grad-2));  
} 
.container-body{
	background: linear-gradient(var(--body-grad-1), var(--body-grad-2));  
}
.footer{
	background: linear-gradient(var(--footer-grad-1), var(--footer-grad-2));  
	border-color: white;
} */

 
 
.navbar-dark .navbar-nav .nav-link { 
    color: white;  
	font-size: 21px;
	white-space: nowrap;   
	padding-top: 5px; 
} 
 
  
.navbar-collapse{ 
	display: block;
	justify-content: center;
}

.navbar-dark {
    color: white;
}  

.logo-image{
    width: 140px;
    /* height: 100px;  */
    overflow: hidden;  
	/* margin-top: 40px; */
}
 

/* Sucursales Page */

.sucursal-container{
	display: flex;  
	flex-grow: 1; 
}

.button-container{
	display: flex;
	flex-direction: column;
	background-color: rgb(39, 38, 38);
	height: auto;
}

.mapContainer{
	width: 100%;
	height: 600px;
	margin-left: 20px;
	margin-right: 20px;
}
 

@media(max-width: 990px){
	.mapContainer{
		margin-left:  0px;
		margin-right:  0px;
	}
	.sucursal-container{
		display: flex;
		flex-direction: column;
	}
	.map-container{
		margin: 0;
	} 
	.dropwdown{
		display: flex;
		align-items: center;
		flex-direction: column;
		/* justify-content: space-between; */
	}
	.dropdown-button-sucursal{
		color: #ffffff;
	}
	.dropdown-button-sucursal:hover{
		color: #ffffff;
	}
	.dropdown-item:hover{
		background-color: #bbbbbb;
	}  
	.button-container-sucursal-lg{
		display: none;
	}
	.text-description-sucursal{
		display: flex;
		justify-content: center;
		color: white;
		margin: 0;
	}
}

.btn-wsp{
    position:fixed;
    width:80px;
    height:80px;
    line-height: 63px;
    bottom:100px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
  
.btn-wsp:hover{
    background: #20ba5a;
}

@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}

@media(min-width: 991px){
	.text-description-sucursal{
		display: none;
	}
	.dropwdown{
		display: none;
	} 
	.button-container-sucursal-lg{
		display: flex;
		flex-direction: column;
		background-color: #24262b;
		height: auto;
		width: 278px;
	}
}

.button-sucursal{ 
	color: white; 
	padding: 20px;  
	background-color: #000000;
}
  
.button-sucursal:visited, .button-sucursal:active, .button-sucursal:link .title-container-marked, .title-container-marked ,.p-container-marked {  
	text-decoration:none;
    color: white;
    cursor: pointer;
}

.button-sucursal:hover{
	text-decoration: none;
	.title-container-marked{
		text-decoration: underline;
	}
}
 

.p-container-marked{
	margin: 0;
	padding: 0;
}
 
.title-container-marked{
	color: red;
}

/* UNMARKED OPTIONS */
 
.button-sucursal-unmarked{ 
	color: white; 
	padding: 20px;  
	background-color: rgb(39, 38, 38)
}
 
.button-sucursal-unmarked:visited, .button-sucursal-unmarked:link, .button-sucursal-unmarked:active, .title-container-unmarked, .p-container-unmarked{  
	text-decoration: inherit;
    color: white;
    cursor: pointer;
} 

.p-container-unmarked{
	display: none;
}

.title-container-unmarked{
	color: white;
	font-size: 20px;
}

.modal-body{
	text-align: center;
}
   
.modal-body-p-title{
	margin: 0;
	font-size: 30px;
}

.modal-body-p-subtitle{ 
	margin: 0;
	font-size: 17px;
	padding-left: 20px; 
	display: flex;
	align-items: center;
}

.modal-title.h4{
	font-size: 1.8rem;
}

.modal-header{
	justify-content: center;
}
 
.btn-close{
	display: none;
    /* box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: .5; */
}

.privacidadContainer{
	display: flex;
	flex-direction: column;
	margin: 2em;
	margin-top: 130px;
}

/*responsive footer*/
@media(max-width: 767px){
	.footer-col{
	  width: 25%;
	  margin-bottom: 20px;
  }
  }
  
@media(max-width: 574px){
	.footer-col{
		width: 25%;
		margin-bottom: 10px;
	}
}

@media(max-width: 990px){
	.logo-image{ 
	  margin-top: 10px;
  }
}
   
@media(max-width: 990px){
	.navbar-toggler{
		margin-bottom: 20px; 
	}
}

@media(min-width: 990px){
	.navbar-modified{
		height: 100px;
		position: fixed;
		width: 100%;
		z-index: 12;
	}
}
 
@media (max-width: 990px){
	.navbar-collapse{
		display: inline-flex;
	}
}

@media(max-width: 990px){
	.navbar-nav{
		/* margin-left: 45% */
	}
}

/* FOOTER V2 */

.container-home{
	display: block;
	text-align: center;
	width: 100%; 
	align-self: center; 
	padding-top: 100px;
	background-color: rgb(39, 38, 38);
}

.img-container{ 
	display: flex; 
	justify-content: center;
	background-color: rgb(39, 38, 38);
	padding: 2px;
}

.container-img-individual{  
	width: 24%; 
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px; 
	background-color: rgb(39, 38, 38);
}

.img-menu-home{
	width: 100%; 
	height: 100%;
    object-fit: cover;
	cursor: pointer;
}

.container-img-individual:hover{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px; 
}

.img-modal-home{ 
    object-fit: fill;
}

.modal-90w{
	max-width: 1000px;
}

.modal-content{
	align-items: center;
}

.modal-header{
	padding-bottom: 0;
}

.title-modal-home{
	font-size: 2rem;
	text-align: center;
}

.subtitle-modal-home{
	font-size: 1.5rem;
	text-align: center;
}

.description-modal-home{
	text-align: center;
}

.inicioContainer{  
	height: 40%; 
	display: flex;
}

.img-inicio{ 
	width: 100%;  
	object-fit: contain;
  }
 
@media(max-width: 980px){ 
	.texto-inicio{
		display: none;
	  }
}

@media(min-width: 600px){
	.img-inicio-mobile{
		display: none;
	}
}

@media(max-width: 600px){ 
	.inicioContainer{
		flex-direction: column;
	}
	.img-inicio-mobile{
		display: block;
		width: 100%;  
		object-fit: contain;
	}
	
	.img-inicio{
		display: none;
	}	
}

  .textoInicioTitle{
	color: white; 
	background-color:rgb(39, 39, 39); 
	font-size: 40px;
	font-weight: 1000;
	position: absolute;
	top: 16%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
 
  .textoInicioOriente{
	color: black; 
	background-color: white;
	opacity: 1;
	font-size: 20px;
	font-weight: 500;
	position: absolute;
	top: 55%;
	left: 17%;
	transform: translate(-50%, -50%);
  }

  .textoInicioSur{
	color: black; 
	background-color: white;
	opacity: 1;
	font-size: 20px;
	font-weight: 500;
	position: absolute;
	top: 55%;
	left: 85%;
	transform: translate(-50%, -50%);
  }

  .textoInicioCentro{
	color: black; 
	background-color: white;
	opacity: 1;
	font-size: 20px;
	font-weight: 500;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

.containerMapaId{
    position: relative;
    bottom: 90px;
    opacity: 0;
}

.containerGaleriaId{
    position: relative;
    bottom: 90px;
    opacity: 0;
}

.containerInicioId{
	position: absolute;
	top: 0%; 
	transform: translate(-50%, -50%);
	opacity: 0;
}

@media(max-width: 980px){ 
	.containerMapaId{
		position: relative;
		bottom: 90px;
		opacity: 0;
	}
	
	.containerGaleriaId{
		position: relative;
		bottom: 90px;
		opacity: 0;
	}
	
	.containerInicioId{
		position: absolute;
		top: 0%; 
		transform: translate(-50%, -50%);
		opacity: 0;
	}	
}

.container-inicio-sucursales{
	background-color: rgb(39, 38, 38);
}